/* basic html declarations */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: 1.2em;
}
 
/* main div declarations */ 
 
div#wrapper {
	width: 750px;
	float: left;
	margin: 20px 0px 0px 10px;
}

div#header {
	margin-left: 15px;
}	

div#header span.large {
	font-size: 2.8em;
}

div#header span.small {
	font-size: 1.2em;
	font-weight: normal;
}

div.horizontal_rule {
	border-bottom: 2px solid #333;
	height: 1px;
	margin-top: -1px;

}

div.horizontal_rule_top {
	border-bottom: 2px solid #333;
	height: 1px;
	margin-top: -5px;
}

div#content {
	text-align: left;
}

/* tabs styles */

div#tabs {
	height: 1.8em;
	width: 100%;
	border-bottom: 2px solid #333;	
	vertical-align: middle;
}

div#tabs a, div#tabs a:visited, div#tabs a:hover, div#tabs a:link, div#tabs a:active {
	text-decoration: underline;
	color: #333;
	font-weight: bold;
}

div#tabs div {
	height: 100%;
	padding: 0px 5px 0px 5px;
	float: left;
}

div#tabs div span {
	height: 100%;
	position: relative;
	top: 25%;
}

div#tabs div.first {
	margin-left: 25px;
}

/* message and error styles */

div#super_errors, div#messages, div#errors {
	padding: 10px 0px 10px 0px;
	margin-top: 10px;
}

div#messages {
	border: 2px solid green;
	color: green;
	width: 100%;
	text-align: center;
}

div#super_errors, div#errors {
	border: 2px solid red;
	color: red;
	width: 100%;
	text-align: center;	
}

div#super_errors {
	font-weight: bold;
	font-size: 1.3em;
	border: 5px solid red;
}

span.explaination {
	font-size: .8px;
	display: block;
	margin-left: 25px;
}

/* form styles */

input[type="text"], input[type='password'] {
	border: 1px solid #333;
}

/* list styles */

ol, ul {
	padding-left: 20px;
}

/* tabular div styles */

div.table {
	border: 3px solid #333;
	padding: 0px;
	margin: 10px 0px 0px 0px;
	width: 100%;
}

div.table div {
	padding: 5px;
	width: auto;
	overflow: hidden;
}

div.table_header {
	background-color: #ccc;
	font-weight: bold;
	border-bottom: 3px solid #333;
	width: 100%;
}

div.table_header_error {
	background-color: #f00;
	font-weight: bold;
	color: #fff;
	border-bottom: 3px solid #333;
	width: 100%;
}

div.line_item em, 
div.line_item_alt em, 
div.line_item_highlight em {
	font-weight: bold;
	font-style: normal;
	color: #333;
}

div.line_item {
	background-color: #fff;
}

div.line_item_alt {
	background-color: #eee;
}

div.line_item_highlight {
	background-color: #8ECACF;
}

/* misc styles */
blockquote {
	margin-left: 25px;
}

pre {
	width: auto;
	border: 1px dashed #333;
	padding: 5px;
	margin: 5px
}
